* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.signup {
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 90%;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
  /* box-shadow: x-offset y-offset blur-radius color; */
  box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.1);
}
.container .box {
  display: flex;
  gap: 50px;
  justify-content: center;
}
h1 {
  text-align: center;
  margin-bottom: 25px;
}
.form-group {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="number"],
.home {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
fieldset {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
}
legend {
  font-weight: bold;
}
.radio-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
fieldset label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.gender,
.religion {
  display: flex;
  justify-content: start;
  gap: 10px;
}
button {
  width: 100%;
  padding: 12px;
  margin: 12px;
  background: #0066ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #004bcc;
}
form {
  text-align: center;
}
