* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome,
.about,
.Contact,
.notice-section {
  margin: 2rem auto;
  padding: 2.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome h1 {
  padding-bottom: 1rem;
}

.notice {
  margin-top: 1.5rem;
}
.title-desc {
  margin-top: 1rem;
}
.description {
  padding: 1rem;
}
.date {
  padding: 1.5rem;
}
.btn {
  margin: 1.25rem 0 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.title,
.parra {
  margin-bottom: 0.5rem;
}
.category {
  padding: 0.25rem 0.75rem;
  color: white;
  font-weight: bold;
}
.about-title,
.Contact-title {
  margin-bottom: 1.125rem;
}
.about-grid {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2;
}

.about-grid .img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Contact-flex .card {
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Contact-flex .card i,
.Contact-flex .card h2 {
  color: #1055c9;
  font-size: 1rem;
  font-weight: bold;
}
.location {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
  padding: 1rem;
  text-align: center;
}
.date-2 {
  display: none;
}
@media screen and (max-width: 480px) {
  /* header section */
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dept-name {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
  .versity-name {
    font-size: 1.75rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
  /* notice section */
  .notice-section {
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .date {
    display: none;
  }
  .date-2 {
    display: flex;
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    justify-content: center;
    padding: 1rem;
  }
  .notice,
  .details,
  .category-post {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* about section */
  .about-grid {
    display: flex;
    flex-direction: column;
  }
  .about .card {
    padding: 1rem 0;
    gap: 1rem;
  }
  .Contact-flex {
    flex-direction: column;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* header section */
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dept-name {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
  }
  .versity-name {
    font-size: 2rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
  /* notice section */
  .notice-section {
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  /* about section */
  .about-grid {
    display: flex;
    flex-direction: column;
  }
  .about .card {
    padding: 1rem 0;
    gap: 1rem;
  }
  .Contact-flex {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* header section */
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dept-name {
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
  }
  .versity-name {
    font-size: 2rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* header section */
  .dept-name {
    padding: 1.5rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
  }
}
@media screen and (min-width: 1200px) {
  /* header section */
  .dept-name {
    padding: 1rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
  }
  .navbar {
    padding: 0.75rem 0;
  }
}
