/* share section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome,
.about,
.Contact,
.notice-section,
.academic-section {
  margin: 2rem auto;
  padding: 2.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* welcome section */
.welcome h1 {
  padding-bottom: 1rem;
}
/* notice section */
.notice {
  margin-top: 1.5rem;
}
.title-desc {
  margin-top: 1rem;
}
.description {
  padding: 1rem;
}
.date {
  padding: 1.5rem;
}
.btn {
  margin: 1.25rem 0 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.title,
.parra {
  margin-bottom: 0.5rem;
}
.category {
  padding: 0.25rem 0.75rem;
  color: white;
  font-weight: bold;
}
/* academic section */
.academic-section h2 {
  margin-bottom: 0.75rem;
}
.search {
  margin: 1.25rem 0;
}
.search input {
  padding: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.year {
  /* border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; */
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75rem;
  background-color: rgb(96, 165, 250);
  margin-bottom: 1.25rem;
  cursor: pointer;
}
.year-container {
  padding: 1rem 0.75rem 0.75rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.semester {
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  background-color: rgb(199, 27, 27);
  cursor: pointer;
}
.semester-container {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.course {
  padding: 0.75rem 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.course h3 {
  color: rgb(96, 165, 250);
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
.ctp {
  padding: 0.065rem 0.5rem;
  font-size: 1rem;
}
.course h4 {
  color: rgb(199, 27, 27);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0 0;
}
.btn {
  padding: 0.065rem 0.75rem;
  font-size: 1.125rem;
  background-color: rgb(96, 165, 250);
}
/* about section */
.about-title,
.Contact-title {
  margin-bottom: 1.125rem;
}
.about-grid {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2;
}

.about-grid .img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* contact section */
.Contact-flex .card {
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Contact-flex .card i,
.Contact-flex .card h2 {
  color: #1055c9;
  font-size: 1rem;
  font-weight: bold;
}
.location {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* footer section */
footer {
  padding: 1rem;
  text-align: center;
}
.date-2 {
  display: none;
}
@media screen and (max-width: 480px) {
  /* header section */
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dept-name {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
  .versity-name {
    font-size: 1.75rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
  /* notice section */
  .notice-section {
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .date {
    display: none;
  }
  .date-2 {
    display: flex;
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    justify-content: center;
    padding: 1rem;
  }
  .notice,
  .details,
  .category-post {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* academic section */
  .academic-section {
    padding: 0.5rem;
  }
  .academic-section h2 {
    font-size: 1.875rem;
    margin-bottom: 0.75rem;
  }
  .course h3 {
    font-size: 1.25rem;
  }
  .flexCol {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* about section */
  .about-grid {
    display: flex;
    flex-direction: column;
  }
  .about .card {
    padding: 1rem 0;
    gap: 1rem;
  }
  .Contact-flex {
    flex-direction: column;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* header section */
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dept-name {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
  }
  .versity-name {
    font-size: 2rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
  /* share section */
  .welcome,
  .notice-section,
  .academic-section,
  .about,
  .Contact {
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  /* about section */
  .about-grid {
    display: flex;
    flex-direction: column;
  }
  .about .card {
    padding: 1rem 0;
    gap: 1rem;
  }
  .Contact-flex {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* header section */
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dept-name {
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
  }
  .versity-name {
    font-size: 2rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* header section */
  .dept-name {
    padding: 1.5rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
  }
}
@media screen and (min-width: 1200px) {
  /* header section */
  .dept-name {
    padding: 1rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
  }
  .navbar {
    padding: 0.75rem 0;
  }
}
