* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.notice-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}
.notice-section .heading h1 {
  margin-bottom: 0.75rem;
}
.heading p {
  padding-bottom: 1.5rem;
}
.search-filter {
  padding: 1rem;
}
.search input {
  min-width: 350px;
  min-height: 20px;
  padding: 0.75rem;
  background-color: white;
}
.text-bold {
  font-size: 1.125rem;
  font-weight: bold;
}
.filter select {
  background-color: white;
  padding: 0.75rem;
  min-width: 30px;
  min-height: 20px;
}
.notice {
  margin-top: 1.5rem;
}
.description {
  padding: 1rem;
}
.date {
  padding: 1.5rem;
}
.title,
.parra {
  margin-bottom: 0.5rem;
}
.category {
  padding: 0.25rem 0.75rem;
  color: white;
  font-weight: bold;
}
.date-2 {
  display: none;
}
footer {
  padding: 1rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  /* header section */
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dept-name {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
  .versity-name {
    font-size: 1.75rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
  /* notice section */
  .notice-section {
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .date {
    display: none;
  }
  .date-2 {
    display: flex;
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    justify-content: center;
    padding: 1rem;
  }
  .search-filter {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .search input {
    min-width: 280px;
    min-height: 20px;
    padding: 0.5rem;
  }
  .notice,
  .details,
  .category-post {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* header section */
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dept-name {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
  }
  .versity-name {
    font-size: 2rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
  /* notice section */
  .notice-section {
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .search-filter {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .search input {
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* header section */
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dept-name {
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
  }
  .versity-name {
    font-size: 2rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* header section */
  .dept-name {
    padding: 1.5rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
  }
  /* notice section */
  .search input {
    min-width: 550px;
  }
}
@media screen and (min-width: 1200px) {
  /* header section */
  .dept-name {
    padding: 1rem;
    text-align: center;
  }
  .batch-name {
    padding: 1rem 0;
  }
  .navbar {
    padding: 0.75rem 0;
  }
  /* notice section */
  .search input {
    min-width: 550px;
  }
}
